/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: calc(0.25rem + 0.3vw);
    line-height: 1;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* fonts */
@font-face {
    font-family: 'MullerNextWideTrial-Heavy';
    src: url('../fonts/MullerNextWideTrial-Heavy.woff2') format('woff2'),
        url('../fonts/MullerNextWideTrial-Heavy.woff') format('woff');
    font-weight: 750;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerNextWideTrial-ExtraBold';
    src: url('../fonts/MullerNextWideTrial-ExtraBold.woff2') format('woff2'),
        url('../fonts/MullerNextWideTrial-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MullerNextWideTrial-Regular';
    src: url('../fonts/MullerNextWideTrial-Regular.woff2') format('woff2'),
        url('../fonts/MullerNextWideTrial-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    /* colors */
    --main-color-900: #122433;
    --main-color-700: #263847;
    --main-color-500: #3A4C5B;
    --main-color-200: #CAD0D9;
    --main-color-100: #F4FAFF;
    --secondary-color: #BE6A2A;
    --neutral-color-700: #5F5F5F;
    --neutral-color-500: #7F8385;
    --neutral-color-200: #EAEAEA;
    --neutral-color-100: #F4F4F4;
    --white: #ffffff;
    --warning-color: #E80A5F;
    --attention-color: #E8B80A;
    --success-color: #0AE863;
    --info-color: #0A67E8;
    --black: #000000;
    --black-lighter: #0A0A0A;
    --white: #ffffff;

    /* fonts */
    --muller-heavy: 'MullerNextWideTrial-Heavy';
    --muller-bold: 'MullerNextWideTrial-ExtraBold';
    --muller-regular: 'MullerNextWideTrial-Regular';
}


body {
    background-color: var(--neutral-color-100);
    font-family: var(--muller-regular);
}

/* layout */
.max-w-container {
    margin: 0 auto;
    &.w-1238 {
        max-width: 1238px;
    }
    &.w-1374 {
        max-width: 1374px;
    }
    &.w-1440 {
        max-width: 1440px;
    }
}

.offset-desktop-32 {
    padding: 0 32px;
}
.offset-desktop-100 {
    padding: 0 100px;
}

.spacer {
    &.s-64 {
        height: 64px;
    }
    &.s-74 {
        height: 74px;
    }
}

.title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* buttons */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--muller-bold);
    text-transform: uppercase;
    border-radius: 31px;
    &.main {
        padding: 16px 24px;
        background-color: var(--white);
        font-size: 16px;
    }
    &.buy {
        background-color: var(--main-color-700);
        color: var(--white);
        font-size: 14px;
        padding: 16px;
        width: 100%;
    }
}

/* text */
.title {
    font-family: var(--muller-bold);
    &.s-20 {
        font-size: 2rem;
    }
    &.s-32 {
        font-size: 3.2rem;
    }
    &.s-40 {
        font-size: 4rem;
    }
    &.s-48 {
        font-size: 4.8rem;
    }
    &.s-64 {
        font-size: 6.4rem;
    }
    &.s-75 {
        font-size: 7.5rem;
    }
    &.blue {
        color: var(--main-color-700);
    }
    &.white {
        color: var(--white);
    }
}

.lp-main-text {
    color: var(--white);
    font-size: 2rem;
    line-height: 1.2;
}

/* components */
.beer-card {
    .inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 22rem;
    }
    .image-wrap {
        overflow: hidden;
        width: 22rem;
        height: 37.7rem;
        border-radius: 200px;
        margin-bottom: 16px;
        img {
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--neutral-color-700);
        margin: 10px 0;
        p {
            font-size: 12px;
        }
        .separator {
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--neutral-color-700);
        }
    }
    .price {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--main-color-500);
        font-size: 14px;
        margin-bottom: 16px;
        .amount {
            font-family: var(--muller-bold);
        }
    }

    /* bigger card */
    &.bigger {
        .inner-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 37rem;
        }
        .image-wrap {
            overflow: hidden;
            width: 37rem;
            height: 68.5rem;
            border-radius: 40rem;
            margin-bottom: 16px;
            img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info {
            p {
                font-size: 20px;
            }

        }
        .price {
            font-size: 20px;
        }
    }
}

.brewery-card {
    position: relative;
    .image-wrap {
        border-radius: 32px;
        overflow: hidden;
        img {
            transition: transform .3s ease-in-out;
        }
    }
    .info-wrap {
        position: absolute;
        /* width: 100%; */
        top: 12px;
        left: 12px;
        right: 12px;
        border-radius: 20px;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 12px;
        .logo {
            width: 48px;
            height: 48px;
        }
        .text {
            margin-left: 12px;
        }
        .name {
            font-family: var(--muller-bold);
            color: var(--main-color-700);
            font-size: 20px;
        }
        .location {
            font-size: 12px;
            color: var(--neutral-color-700);
            margin-top: 5px;
        }
    }
    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    &:hover {
        .image-wrap {
            img {
                transform: scale(1.3);
                transition: transform .3s ease-in-out;
            }
        }
    }
}

/* header */
.header {
    padding: 20px 32px;
    background-color: var(--white);
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    .content-wrap, .logo-and-menu, .main-menu, .nav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-and-menu {
        gap: 48px;
    }

    .main-menu {
        gap: 24px;
    }

    .search-and-profile {
        display: flex;
        align-items: center;
        form {
            margin-right: 18px;
        }
        .form-input {
            position: relative;
        }
        .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        input[type="text"] {
            padding: 10px 10px 10px 36px;
            border: none;
            color: var(--neutral-color-500);
            background-color: var(--neutral-color-100);
            border-radius: 5rem;
            font-size: 14px;
        }
    }

    .nav-item {
        gap: 4px;
        font-family: var(--muller-heavy);
        transition: color .3s ease-in-out;
        text-transform: uppercase;
        font-size: 14px;
        svg {
            fill: var(--main-color-700);
            transition: fill .3s ease-in-out;
        }
        &.active {
            color: var(--secondary-color);
            svg {
                fill: var(--secondary-color);
            }
        }
    }
    .nav-item:hover {
        color: var(--secondary-color);
        transition: color .3s ease-in-out;
        svg {
            fill: var(--secondary-color);
            transition: fill .3s ease-in-out;
        }
    }

    /* landing page header */
    &.landing-page-header {
        background-color: var(--black-lighter);
        border-radius: 0;
        .content-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* hero section */
.hero-section {
    .swiper-wrapper {
        background-color: #FF9CB7;
        border-radius: 1350px;
        padding: 8rem 0;
    }
}
.hero-slide {
    .inner-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--muller-bold);
        margin: 16px 0 20px 0;
    }
    .old-price {
        font-size: 4rem;
        text-decoration-line: line-through;
        opacity: 0.5;
    }

    .new-price {
        font-size: 6.4rem;
    }
}

/* beers grid */
.latest-beers-grid {
    .grid-wrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 70px;
        margin-top: 4rem;
    }
    .item-1 {
        grid-row: span 2 / span 2;
        .inner-wrap {
            width: 40rem;
        }
        .image-wrap {
            width: 40rem;
            height: 68.5rem;
            border-radius: 40rem;
        }
        .info {
            p {
                font-size: 20px;
            }

        }
        .price {
            font-size: 20px;
        }
    }
}

/* breweries grid */
.breweries-grid {
    .grid-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        gap: 31px;
        margin-top: 40px;
    }
}


/* selected beers */
.selected-beers {
    .title {
        text-align: center;
    }
    .grid-wrap {
        display: flex;
        justify-content: space-between;
    }
    .smaller-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 31px;
    }
}

/* promo cards */
.promo-cards {
    .content-wrap {
        display: flex;
        gap: 32px;
    }
    .card-item {
        height: 60rem;
        width: 100%;
        position: relative;
        padding: 4rem;
        border-radius: 5rem;
        overflow: hidden;
        background-color: #65060c;
        &:first-child {
            background-color: #fcb816;
        }
        &:nth-child(2) {
            .title {
                color: var(--white);
            }
            .info {
                color: var(--white);
            }
        }
        .card-image {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .title {
            color: var(--main-color-900);
        }
        .title, .info {
            position: relative;
            z-index: 3;
        }
        .info {
            display: flex;
            align-items: center;
            margin-top: 24px;
            p {
                font-size: 2rem;
            }
            .separator {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                margin: 0 5px;
                background-color: var(--black);
            }
        }
    }
}

/* landing page styles */
.lp-main-wrapper {
    background-color: var(--black-lighter);
}
/* hero section */
.lp-hero-section {
    .content-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .subtitle {
        font-size: 1.6rem;
        font-family: var(--muller-bold);
        color: var(--white);
        text-transform: uppercase;
    }
    .right-side {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        width: 50%;
    }
    .btn-wrap {
        display: inherit;
    }
}

/* about section */
.lp-about-section {
    .content-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title {
        margin-bottom: 3.2rem;
    }
    ul {
        list-style-type:circle;
        margin: 20px 0;
        li {
            margin-left: 22px;
        }
    }
}

/* taste section */
.lp-taste-section {
    padding: 6.4rem 0;
    .content-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-side {
            display: flex;
            gap: 24px;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--main-color-500);
                border-radius: 24px;
                padding: 24px;
            }
        }
        .right-side {
            width: 52rem;
            .title {
                margin-bottom: 32px;
            }
        }
    }
}

/* ingredients section */
.lp-ingredients-section {
    padding: 64px 0;
    .title {
        text-align: center;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        gap: 24px;
    }
    .card {
        border-radius: 24px;
        overflow: hidden;
        .image-wrap {
            width: 100%;
            height: 20rem;
            overflow: hidden;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .text-wrap {
            height: 100%;
            text-align: center;
            padding: 24px;
            background-color: rgb(255, 255, 255, 0.10);
        }
        .label {
            color: var(--secondary-color);
            font-family: var(--muller-bold);
            text-transform: uppercase;
            font-size: 16px;
        }
        .title {
            margin: 12px 0;
        }
    }
}



/* footer */
.footer {
    background-color: var(--white);
    padding-top: 6.4rem;
    .main-columns {
        display: flex;
        justify-content: space-between;
        gap: 6.4rem;
    }
    .footer-column {
        display: flex;
        flex-direction: column;
    }
    .footer-nav-link {
        margin-bottom: 16px;
        font-size: 16px;
        color: var(--neutral-color-500);
        transition: color .3s ease-in-out;
        &:hover {
            color: var(--secondary-color);
            transition: color .3s ease-in-out;
        }
    }
    .main-link {
        font-size: 2rem;
        font-family: var(--muller-bold);
        color: var(--neutral-color-700);
    }

    .socials-wrap {
        display: flex;
        gap: 24px;
        margin-top: 6.4rem;
        svg {
            transition: transfrom .3s ease-in-out;
        }
        .social-link {
            &:hover {
                svg {
                    transform: scale(1.2);
                    transition: transfrom .3s ease-in-out;
                }
            }
        }
    }

    /* colophon */
    .colophon {
        border-top: 1px solid #E0E5EB;
        padding: 3.3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        .left-side, .right-side {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .left-side {
            font-size: 16px;
            gap: 24px;
            color: var(--neutral-color-500);
            a {
                color: var(--neutral-color-500);
                transition: color .3s ease-in-out;
                &:hover {
                    color: var(--attention-color);
                    transition: color .3s ease-in-out;
                }
            }
        }
    }

}